<html>
  <head>
    <script async="" src="https://cdn.jsdelivr.net/npm/sa-sdk-javascript@1.16.10/sensorsdata.min.js" charset="UTF-8"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MGKBKT5"></script>
    <script>window.dataLayer = [];</script>
    <!-- Google Tag Manager -->
    <script>(
      function(w,d,s,l,i){w[l]=w[l]||[];
        w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })
      (window,document,'script','dataLayer','GTM-MGKBKT5');
    </script>
    <!-- End Google Tag Manager -->
    <!-- <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?8dfa8fb7ffbd0407c8562282198066a6';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
     -->
    <title>工作机会 | 星巴克</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="zh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="成为星巴克伙伴，让我们与你一起成长，创造无限可能。查看星巴克零售店及支持中心全职和兼职开放职位，了解职业发展、薪酬信息及面试流程。">
    <meta name="baidu-site-verification" content="u7Vir8pZFL">
    <link rel="canonical" href="/about/careers/">
  
    <!-- Open graph -->
    <meta property="og:site_name" content="星巴克">
    <meta property="og:type" content="website">
    <meta property="og:title" content="工作机会">
    <meta property="og:url" content="/about/careers/">
    <meta property="og:description" content="成为星巴克伙伴，让我们与你一起成长，创造无限可能。查看星巴克零售店及支持中心全职和兼职开放职位，了解职业发展、薪酬信息及面试流程。">
    <meta property="og:image" content="/assets/favicons/mstile-310x150.png">
  
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{&quot;username&quot;=>&quot;@starbucks&quot;}">
    <meta name="twitter:title" content="工作机会">
    <meta name="twitter:description" content="成为星巴克伙伴，让我们与你一起成长，创造无限可能。查看星巴克零售店及支持中心全职和兼职开放职位，了解职业发展、薪酬信息及面试流程。">
    <meta name="twitter:image" content="/assets/favicons/mstile-310x150.png">
  
    <!-- WeChat sharing -->
    <script>
      var WECHAT_TITLE = '星巴克官网: 工作机会';
      var WECHAT_DESC = '成为星巴克伙伴，让我们与你一起成长，创造无限可能。查看星巴克零售店及支持中心全职和兼职开放职位，了解职业发展、薪酬信息及面试流程。';
      var WECHAT_IMAGE = '/assets/images/wechat.png';
      var WCHAT_NO_GA = '';
    </script>
  
  
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/manifest.json">
    <link rel="mask-icon" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/safari-pinned-tab.svg" color="#ef233c">
    <link rel="shortcut icon" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  
  
    <!-- CSS -->
    <link rel="stylesheet" href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/styles.css?202105062137">
    <script id="b0abc1bb2f0c76fd7f391d03f1a3b82d" src="https://cards.starbucks.com.cn/prod/assets/js/esabxubs5hwen.js?seed=AACe_1B5AQAAxscp9Nr9KcHQgm48tWGFH3L0rJPk3qmOKMcsSvmd_8EUyZc_&amp;ixGa8B5N8x--z=q" async=""></script></head>
  
    <body class="lang-zh page-about-careers chrome non-logged-in" ontouchstart="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src='https://www.googletagmanager.com/ns.html?id=GTM-MGKBKT5'height='0' width='0' style='display:none;visibility:hidden'></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  
    <script>
      var isChrome = ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.vendor.toLowerCase().indexOf('google') > -1) || navigator.userAgent.match('CriOS'));
      if (isChrome) document.body.classList.add('chrome');
    </script>
    <div id="app-view-wrapper">
      <!-- Navigation panel -->

      <nav id="nav">
      <!-- <div class='terms-notes' id='terms-notes'>
        <p id='terms-notes-zh' style="display: none"><a href="/help/legal/starbucks-rewards-program-terms-and-conditions-2020">《星享俱乐部活动的条款和条件》即将更新并于2020年6月9日生效。您可以点击阅读，了解更多详情。</a></p>
        <p id='terms-notes-en' style="display: none"><a href="/help/legal/starbucks-rewards-program-terms-and-conditions-2020">The updated Starbucks Rewards Program Terms and Conditions will take effect on June 9, 2020. You can click here to review and learn more. </a></p>
      </div> -->
        <div id="placeholder-element"></div>
        <div class="container">
          <header class="header">
            <a class="logo" href="/">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo.svg" alt="星巴克">
            </a>
            <div class="primary">
              <ul>
                <li class="stores">
                  <a id="stores-primary" href="/stores/">
                    门店
                  </a>
                </li>
                <li class="account">
                  <a id="account-primary" href="/account/">
                    <span data-reactroot="" class="">我的帐户</span>
                  </a>
                </li>
                <li class="menu">
                  <a id="menu-primary" href="/menu/">
                    菜单
                  </a>
                </li>
              </ul>
            </div>
            <a class="icon trigger" rel="nav-overlay" id="nav-menu">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-hamburger.svg">
              <span>更多</span>
            </a>
          </header>
          <div class="body">
            <nav class="container middle secondary">
              <div class="display-1">关于星巴克</div>
              <div class="tabs-wrapper">
                <ul class="subcategories">
                  <li>
                    <a id="side_about_starbucks" href="/about/">
                      星巴克在中国
                    </a>
                  </li>
                  <li>
                    <a id="side_about_careers" href="/about/careers/" class="active">
                      工作机会
                    </a>
                  </li>
                  <li>
                    <a id="side_about_news" href="/about/news/">
                      企业新闻
                    </a>
                  </li>
                  <li>
                    <a id="side_about_responsibility" href="/about/responsibility/">
                      社会责任
                    </a>
                  </li>
                  <li>
                    <a id="side_about_history" href="/about/history/">
                      历史回顾
                    </a>
                  </li>
                  <li>
                    <a id="side_about_contact" href="/about/contact/">
                      联系我们
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="overlay " id="nav-overlay">
          <div class="container">
            <header class="header">
              <a class="logo" href="/">
                <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo.svg" alt="星巴克">
              </a>
              <button class="icon close">Close</button>
            </header>
            <section class="body">
              <div class="container middle">
                <ul>
                  <li>
                    <a id="stores-overlay" href="/stores/">
                      门店
                    </a>
                  </li>
                  <li>
                    <a id="account-overlay" href="/account/starbucks-rewards/">
                      <span data-reactroot="" class="">星享俱乐部</span>
                    </a>
                  </li>
                  <li>
                    <a id="menu-overlay" href="/menu/">
                      菜单
                    </a>
                  </li>
                  <li><hr></li>
                  <li>
                    <a id="apps-overlay" href="/apps/">
                      星巴克移动应用
                    </a>
                  </li>
                  <li>
                    <a id="svc-overlay" href="/starbucks-gift-card/">
                      星礼卡
                    </a>
                  </li>
                  <li>
                    <a id="starbucks_reserve-overlay" href="/starbucks-reserve/">
                      星巴克臻选™
                    </a>
                  </li>
                  <li>
                    <a id="starbucks_mop-overlay" href="/starbucks-now/">
                      啡快™ － 在线点 到店取
                    </a>
                  </li>
                  <li>
                    <a id="starbucks_delivery-overlay" href="/starbucks-delivers-info/">
                      专星送™
                    </a>
                  </li>
                  <li>
                    <a id="coffeehouse-overlay" href="/coffee-blog" target="_blank">
                      咖啡星讲堂
                    </a>
                  </li>
                  <li>
                    <a id="roastery-overlay" href="https://roastery.starbucks.com.cn/" target="_blank">
                      上海烘焙工坊
                    </a>
                  </li>
                  <li>
                    <a id="about-overlay" href="/about/">
                      关于星巴克
                    </a>
                  </li>
                  <li>
                    <a id="help-overlay" href="/help/">
                      帮助中心
                    </a>
                  </li>
                  <li><hr></li>
                </ul>
                <footer class="account">
                  <div id="account-logout"><span data-reactroot="">
                    <a id="menu-login" class="sign-in" href="/account/">
                      <img src="/assets/icons/icon-account.svg">
                      <span>
                        <span>登录</span>
                      </span>
                    </a>
                    <a id="menu-join" class="button small register" href="/account/register/">
                      <span>
                        <span>注册</span>
                      </span>
                    </a>
                  </span>
                </div>
              </footer>
            </div>
          </section>
          <footer class="footer">
            <div class="container">
              <a id="en-collapse" class="lang" href="javascript:void(window.location.pathname = &quot;/en/about/careers/&quot;)">
                English
              </a>
              |
              <a id="privacy-collapse" href="/help/legal/privacy-policy">
                隐私政策
              </a>
              |
              <a id="terms-collapse" href="/help/legal/terms-of-starbucks-website/">
                使用条款
              </a>
            </div>
          </footer>
        </div>
      </div>
    </nav>
    <style>
      @media (min-width: 1025px) {
        #terms-notes {
          margin-left: 30%;
          width: 69%;
        }
        #placeholder-element {
          display: none;
        }
      }
      .terms-notes {
        position: fixed;
        display: none;
        width: 100%;
        padding: 4px 16px;
        background-color: #0bac69;
        z-index: 999;
      }
      .terms-notes p {
        margin: 0;
        padding-right: 18px
      }
      .terms-notes p a {
        width: 100%;
        margin: 0;
        color: #ffffff;
      }
    </style>
  
    <script>
      var pathname = window.location.pathname;
      var termsNotes = document.getElementById('terms-notes')
      if ((pathname === '/' || pathname === '') && termsNotes) {
        termsNotes.style.display = 'block';
        document.getElementById('terms-notes-zh').style.display = 'block';
        var placeholderElement = document.getElementById('placeholder-element');
        placeholderElement.style.height = termsNotes.offsetHeight + 'px';
      }
      if ((pathname === '/en' || pathname === '/en/') && termsNotes) {
        termsNotes.style.display = 'block';
        document.getElementById('terms-notes-en').style.display = 'block';
        var placeholderElement = document.getElementById('placeholder-element');
        placeholderElement.style.height = termsNotes.offsetHeight + 'px';
      }
    </script>

      <!-- Page content -->
      <section id="content">
        <div class="hero flex flex-column">
          <section class="wrapper section title z1 center flex-auto flex flex-column items-center self-center justify-center">
            <h1 class="white bold center">有一个机会，成为星巴克伙伴</h1>
            <h3 class="apron-green">连接更广阔的世界</h3>
            <p class="left margin-2 white">加入星巴克大家庭，和我们一起工作，让我们与你一起成长，创造无限可能。在星巴克工作意味着一个获得超越简单雇佣关系的机会，成为我们的伙伴。我们在这里和你一起成长，成为一个更好的人，实现更大的目标，在你面前的正是无限可能。你可以在星巴克实现更多、成就更多，并且成为最好的自己。就在这里认同自己的价值然后去发现一个更大更有意义的世界。</p>
            <ul class="grid columns-3 padded-2 margin flex flex-wrap self-stretch">
              <li>
                <div class="thumbnail rect card flex">
                  <div class="preview flex1" style="background-image: url(&quot;/images/pages/career-retail.jpg&quot;)">
                  </div>
                  <div class="center">
                    <h2 class="bold margin2">零售门店</h2>
                    <a target="_blank" id="careers-retail" class="button primary margin3" href="https://www.ajinga.com/company-detail-new/4634/?aj_source=sbux&amp;aj_code=careerpage">点击申请</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="thumbnail rect card flex">
                  <div class="preview flex1" style="background-image: url(&quot;/images/pages/career-support-center.jpg&quot;)">
                  </div>
                  <div class="center">
                    <h2 class="bold margin2">支持中心</h2>
                    <a target="_blank" id="careers-support" class="button primary margin3" href="https://www.ajinga.com/company-detail-new/6230/?aj_source=sbux&amp;aj_code=careerpage">点击申请</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="thumbnail rect card flex">
                  <div class="preview flex1" style="background-image: url(&quot;/images/pages/career-roastery.jpg&quot;)">
                  </div>
                  <div class="center">
                    <h2 class="bold margin2">烘焙工坊</h2>
                    <a target="_blank" id="careers-roastery" class="button primary margin3" href="https://www.ajinga.com/company-detail-new/4751/?aj_source=sbux&amp;aj_code=careerpage">点击申请</a>
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <div class="flex justify-center">
            <div class="cup z1"></div>
          </div>
          <div class="image z0"></div>
        </div>
  
        <div class="wrapper section fluid bg-natural-grey">
          <div class="wrapper section">
            <h2 class="display-2 center padded-t margin">关于星巴克</h2>
            <ul class="grid columns-2">
              <li class="center tablet-padded-x-1 padded-b-1 margin divider">
                <h3 class="gold">伙伴文化</h3>
                <p>有一个机会成为星巴克的伙伴</p>
                <h3 class="bold margin3">我们的使命</h3>
                <p>激发并孕育人文精神——每人、每杯、每个社区</p>
                <h3 class="bold margin3">伙伴·同行</h3>
                <ul class="left">
                  <li>在星巴克，我们称彼此为伙伴，伙伴们一起共享在星巴克的无限机会，伙伴们一起实现更多、成就更多</li>
                  <li>在星巴克，连接更广阔的世界、做最好的自己、成就非凡事业，让每一天都充满意义地连接彼此、成就自己</li>
                </ul>
              </li>
              <li class="center tablet-padded-x-1 padded-b-1 margin">
                <h3 class="gold">咖啡文化</h3>
                <ul class="left">
                  <li>星巴克的咖啡文化不仅是延续传统传播咖啡文化，还传递情感联系</li>
                  <li>始于对咖啡的热爱，星巴克从西雅图出发到如今遍布世界各地，让更多的人享受到高品质的咖啡</li>
                  <li>同样始于对咖啡的热爱，星巴克伙伴们从祖国各地汇聚在门店，将这份咖啡之爱传递到更广阔的天地</li>
                  <li>星巴克提供了诸多机会让伙伴们得以提高咖啡技能，围裙的不同颜色代表从咖啡探索者到咖啡公使的不同咖啡技能等级</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="wrapper section fluid bg-line-2 padded-0 relative z0">
          <img class="z-1" src="/images/pages/careers-bg-line-2.svg">
          <div class="wrapper section z0">
            <div class="flex">
              <div class="flex1 padded-2">
                <div class="divider-image" style="background-image: url(&quot;/images/pages/starbucks-store.jpg&quot;)"></div>
              </div>
              <div class="flex1 padded-2">
                <div class="divider-image" style="background-image: url(&quot;/images/pages/starbucks-employee-twins.png&quot;)"></div>
              </div>
              <div class="flex1 padded-2">
                <div class="divider-image" style="background-image: url(&quot;/images/pages/starbucks-wechat-social-gifting.jpg&quot;)"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="wrapper section">
          <h2 class="display-2 center padded-t margin">选择星巴克</h2>
          <div class="wrapper section">
            <div class="flex flex-column tablet-flex-row bg-icon-stars">
              <div class="flex3">
                <h3 class="gold">雇主赞誉</h3>
                <ul>
                  <li>星巴克不只是一家“咖啡”公司更是一家和“人”有关的公司</li>
                  <li>星巴克是咖啡知识和专业技能方面的领导者，同样对伙伴的重视星巴克一样走在前列</li>
                  <li>星巴克重视并认可伙伴们的持续贡献与持续投入，致力于帮助他们实现个人和职业梦想。伙伴们拥有“咖啡豆股票”的权益并享有“助房津贴计划”、“咖啡星享假期”和“父母关爱计划”等福利</li>
                  <li>星巴克的努力得到了业界的赞誉与认可，并因此获得多个机构颁发的最佳雇主荣誉（多次被Aon、Universum、LinkedIn等机构评选为中国最佳雇主、中国最具吸引力雇主、中国典范雇主等）</li>
                </ul>
              </div>
              <div class="flex1"></div>
            </div>
          </div>
        </div>
  
        <div class="wrapper section fluid padded-0">
          <img src="/images/pages/careers-bg-line-3.svg">
        </div>
  
        <div class="wrapper section fluid bg-natural-grey">
          <div class="wrapper section">
            <div class="flex flex-column tablet-flex-row bg-icon-apron">
              <div class="flex1"></div>
              <div class="flex3">
                <h3 class="gold">全面薪酬</h3>
                <p>我们的伙伴无论全职还是兼职（每周20小时或以上），都可以享受一系列的薪酬福利项目。根据工作职位和个人情况的不同，伙伴的全面薪酬福利包括：</p>
                <ul class="grid columns-2">
                  <li class="tablet-padded-x-1">
                    <ul>
                      <li>不断增长的薪资</li>
                      <li>额外的人寿保险</li>
                      <li>医疗保险</li>
                      <li>股票期权（咖啡豆股票)</li>
                      <li>助房津贴计划</li>
                    </ul>
                  </li>
                  <li class="tablet-padded-x-1">
                    <ul>
                      <li>咖啡星享假期</li>
                      <li>父母关爱计划</li>
                      <li>管理奖金计划</li>
                      <li>咖啡饮料伙伴券</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="wrapper section fluid padded-0">
          <img src="/images/pages/careers-bg-line-4.svg">
        </div>
  
        <div class="wrapper section fluid bg-cream">
          <div class="wrapper section margins">
            <div class="flex flex-column tablet-flex-row bg-icon-scu">
              <div class="flex3">
                <h3 class="gold">星巴克大学 | 伙伴们的专属咖啡大学</h3>
                <ul>
                  <li>星巴克中国大学（Starbucks China University）为伙伴们设计了个性化的学习与发展道路</li>
                  <li>希望通过这些努力，与每一个星巴克伙伴分享每一个机会的乐趣，迎接每一个机会的挑战</li>
                  <li>作为星巴克伙伴，你可以在SCU选择不同的课程进行学习，打造你在关键领域的专业能力，你的每一次学习都将向你想要的未来更进一步</li>
                  <ul>
                    <li>零售学院</li>
                    <li>领导力学院</li>
                    <li>咖啡与文化学院</li>
                    <li>专业职能学院</li>
                  </ul>
                </ul>
              </div>
              <div class="flex1"></div>
            </div>
          </div>
        </div>
  
        <div class="wrapper section fluid bg-black-2 promote flex flex-column justify-center">
          <div class="wrapper section">
            <div class="flex flex-column tablet-flex-row">
              <div class="flex1"></div>
              <div class="flex1 flex flex-column items-center justify-center min-h100">
                <div class="flex flex-column flex-auto items-center justify-center">
                  <div class="qrcode margin" style="background-image: url(/images/pages/starbucks_recruitment_wechat_qr_code.png)"></div>
                  <p class="bold white margin-b-0">扫描二维码 加入我们</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="app-notification">
          <div data-reactroot=""></div>
        </div>
      </section>
      <!-- banner-video begin -->
      <!-- <div class="banner-video" id="banner-video">
        <div class="close-video" id="close-video"><img src="../assets/icons/close-video.png" alt=""></div>
        <div class="iframe-video" id="iframe-video"></div>
      </div>
      <div id="video_container"></div>
      <script type="text/javascript" src="//vm.gtimg.cn/tencentvideo/txp/js/iframe/api.js"></script> -->
      <!-- banner-video end -->
  
      <div id="app-loading">
        <div data-reactroot="" class="loading"></div>
      </div>
      <div id="app-auth">
        <span data-reactroot=""></span>
      </div>
    </div>
    <script type="text/javascript" id="">(
      function(e){
        var h=e.sdk_url,b=e.name,a=window,f=document,g="script",c=null,d=null;
        if("undefined"!==typeof a.sensorsDataAnalytic201505)return!1;
        a.sensorsDataAnalytic201505=b;a[b]=a[b]||function(k){return function(){(a[b]._q=a[b]._q||[]).push([k,arguments])}};
        c="track quick register registerPage registerOnce trackSignup trackAbtest setProfile setOnceProfile appendProfile incrementProfile deleteProfile unsetProfile identify login logout trackLink clearAllRegister getAppStatus".split(" ");
        for(d=0;d<c.length;d++)a[b][c[d]]=a[b].call(null,c[d]);a[b]._t||(c=f.createElement(g),d=f.getElementsByTagName(g)[0],c.async=1,c.src=h,c.setAttribute("charset","UTF-8"),a[b].para=e,d.parentNode.insertBefore(c,d))})
        ({sdk_url:"https://cdn.jsdelivr.net/npm/sa-sdk-javascript@1.16.10/sensorsdata.min.js",heatmap_url:"https://cdn.jsdelivr.net/npm/sa-sdk-javascript@1.16.10/heatmap.min.js",name:"sensors",server_url:"https:\/\/trackinghub.starbucks.com.cn\/sa?project\x3dproduction",use_app_track:!1,heatmap:{}});
        sensors.quick("autoTrack");
    </script>
  
    <!-- Navigation bottom mobile -->
    <div class="primary-mobile">
      <ul class="flex justify-around logging-in-element">
        <li class="home" id="home-mobile">
          <a href="/">
            <span class="icons">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home-active.svg" class="active">
            </span>
            <div id="home-mobile">主页</div>
          </a>
        </li>
        <li class="stores" id="stores-mobile">
          <a href="/stores/">
            <span class="icons">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores-active.svg" class="active">
            </span>
            <div id="stores-mobile">门店</div>
          </a>
        </li>
        <li class="account" id="account-mobile">
          <a href="/account/">
            <span class="icons">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account-active.svg" class="active">
            </span>
            <div id="account-mobile"><span data-reactroot="" class="">我的帐户</span></div>
          </a>
        </li>
        <li class="menu" id="menu-mobile">
          <a href="/menu/">
            <span class="icons">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg" class="active">
            </span>
            <div id="menu-mobile">菜单</div>
          </a>
        </li>
        <li class="more" id="more-mobile">
          <a class="icon trigger" rel="nav-overlay">
            <span class="icons">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg">
              <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more-active.svg" class="active">
            </span>
            <div>更多</div>
          </a>
        </li>
      </ul>
    </div>
  
  
    <!-- Javascript -->
    
      <!--[if lt IE 9
      ]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script
    ><![endif]-->
    <script>
      var PAGE_LANG = 'zh';
      var PAGE_TITLE = '工作机会';
      var PAGE_URL = '/about/careers/';
      var SEARCH_EMPTY = '未找到结果，猜你喜欢';
      var SEARCH_POPULAR = '大家都在搜';
      var SURVEY_URL = '';
    </script>
  
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="https://cards.starbucks.com.cn/esabxubs5h.js"></script>
    <script type="text/javascript" src="https://cards.starbucks.com.cn/prod/assets/js/esabxubs5hwen.js?"></script>
    <script type="text/javascript" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/base-bundle.js"></script>
    <script type="text/javascript" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/common.bundle.js?202105062137"></script>
    <script type="text/javascript" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/vendor.bundle.js?202105062137"></script>
    <script type="text/javascript" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/js/pages.bundle.js?202105062137"></script>
  
    <!-- <script src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js" crossorigin="anonymous"></script> -->
  
  </body>
</html>